<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="service" type="AccessControl.Service.Configuration.ServiceConfiguration, AccessControl.Service.Core" />
    <section name="ldap" type="AccessControl.Service.LDAP.Configuration.LdapConfig, AccessControl.Service.LDAP" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <service>
    <rabbitMq url="rabbitmq://192.168.1.220" userName="evgeny" password="Test123" />
    <security secret="jlkjw^Jkdsl20#%d).s2lfkJ" />
  </service>

  <ldap ldapPath="LDAP://192.168.1.210" userName="ldapservice" password="Test123" />

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.4.0" newVersion="3.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>