@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Russia, St.Petersburg<br />
    Evgeny Shmanev<br />
    <strong>Phone</strong>: <a href="tel:+7 9500-333-222">+7 9500-333-222</a><br/>
    <strong>email</strong>: <a href="mailto:eshmanev@gmail.com">eshmanev@gmail.com</a><br />
    <strong>www</strong>: <a target="_blank" href="http://evriqum.ru">http://evriqum.ru</a>
</address>