<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataConfig" type="AccessControl.Data.Configuration.DataConfiguration, AccessControl.Data" />
    <section name="service" type="AccessControl.Service.Configuration.ServiceConfiguration, AccessControl.Service.Core" />
  </configSections>

  <service>
    <rabbitMq url="rabbitmq://192.168.1.221" userName="evgeny" password="Test123" />
    <security secret="jlkjw^Jkdsl20#%d).s2lfkJ" />
  </service>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="log.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <dataConfig recreateDatabaseSchema="false" />
  
  <connectionStrings>
    <clear />
    <add name="AccessControlSystem" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AccessControlSystem;Integrated Security=False;User ID=accessControlUser;Password=Test123" />
  </connectionStrings>
        
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>