<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="RabbitMqUrl" value="rabbitmq://192.168.1.201" />
    <add key="RabbitMqUserName" value="evgeny"/>
    <add key="RabbitMqPassword" value="Test123"/>
    <add key="LDAPUserName" value="client1" />
    <add key="LDAPPassword" value="Test123" />
  </appSettings>
  
 
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAccessCheckService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9981/AccessCheckService"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessCheckService"
        contract="AccessCheckServiceProxy.IAccessCheckService" name="WSHttpBinding_IAccessCheckService">
        <identity>
          <userPrincipalName value="YOGA\Evgeny" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>