body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#accessRightsEditor input, #accessRightsEditor select, #accessRightsEditor textarea {
    max-width: inherit;
}

#schedule td label, #schedule td input {
    font-size: 1.3em;
    display: block;
    text-align: center;
}

.schedule-summary div {
    display: table;
    float: left;
    margin-right: 30px;
    font-size: 0.7em;
}
.schedule-summary label {
    display: table-row;
    text-align: center;
    width: 100%;
    border-bottom: solid 1px blue;
}
.schedule-summary span {
    display: table-row;
}