<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.FileAppender" >
      <param name="File" value="log.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAccessCheckService" />
        <binding name="WSHttpBinding_IAccessPointRegistry" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9981/AccessCheckService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessCheckService" contract="AccessCheckService.IAccessCheckService" name="WSHttpBinding_IAccessCheckService">
        <identity>
          <userPrincipalName value="YOGA\Evgeny" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9981/AccessPointRegistry" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessPointRegistry" contract="AccessPointRegistry.IAccessPointRegistry" name="WSHttpBinding_IAccessPointRegistry">
        <identity>
          <userPrincipalName value="YOGA\Evgeny" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>