@using AccessControl.Web.Models.AccessRights
@model dynamic
@{
    var owner = (AccessRightsIndexViewModel)ViewData["Owner"];
}

@if (Model.Rules.Length > 0)
{
    <tr><td rowspan="@(2 + Model.Rules.Length)">Permanent:</td></tr>
    foreach (var item in Model.Rules)
    {
        <tr>
            <td>@Model.Owner.GetSite(item.AccessPointId)</td>
            <td>@Model.Owner.GetDepartment(item.AccessPointId)</td>
            <td>@Model.Owner.GetName(item.AccessPointId)</td>
            <td>deny</td>
        </tr>
    }
}