@using AccessControl.Web.Models.AccessRights
@model dynamic

@if (Model.Rules.Length > 0)
{
    foreach (var item in Model.Rules)
    {
        <tr>
            <td rowspan="2">Weekly schedule</td>
            <td>@Model.Owner.GetDepartment(item.AccessPointId)</td>
            <td>@Model.Owner.GetName(item.AccessPointId)</td>
            <td rowspan="2">@Html.ActionLink("deny", "DenySchedule", new { userOrGroupName = Model.Identity, accessPointId = item.AccessPointId, group = Model.IsGroup })</td>
        </tr>
        <tr>
            <td colspan="2">Test</td>
        </tr>
    }
}