<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="dataConfig" type="AccessControl.Data.Configuration.DataConfiguration, AccessControl.Data" />
    <section name="service" type="AccessControl.Service.Configuration.ServiceConfiguration, AccessControl.Service.Core" />
  <section name="ldap" type="AccessControl.Service.LDAP.Configuration.LdapConfig, AccessControl.Service.LDAP" />
  </configSections>
  
  <!-- Common -->
  <service>
    <rabbitMq url="rabbitmq://192.168.1.201" userName="evgeny" password="Test123" />
    <security secret="jlkjw^Jkdsl20#%d).s2lfkJ" />
  </service>
  
  <!-- Access point service-->
  <dataConfig recreateDatabaseSchema="false" />
    
  <!-- LDAP service-->
  <ldap ldapPath="LDAP://192.168.1.201" userName="ldapservice" password="Test123" />
    
  
  <!-- Client service-->
  <appSettings>
    <add key="LDAPUserName" value="client1" />
    <add key="LDAPPassword" value="Test123" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="AccessControl.Client.Vendor.AccessCheckService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9981/AccessCheckService" />
          </baseAddresses>
        </host>
        <endpoint binding="wsHttpBinding" contract="Vendor.API.IAccessCheckService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="AccessControl.Client.Vendor.AccessPointRegistry" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9981/AccessPointRegistry" />
          </baseAddresses>
        </host>
        <endpoint binding="wsHttpBinding" contract="Vendor.API.IAccessPointRegistry" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>