<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="dataConfig" type="AccessControl.Data.Configuration.DataConfiguration, AccessControl.Data" />
    <section name="service" type="AccessControl.Service.Configuration.ServiceConfiguration, AccessControl.Service.Core" />
    <section name="ldap" type="AccessControl.Service.LDAP.Configuration.LdapConfiguration, AccessControl.Service.LDAP" />
    <section name="notification" type="AccessControl.Service.Notifications.Configuration.NotificationConfig, AccessControl.Service.Notifications" />
  </configSections>
  
  <!-- Common -->
  <service>
    <rabbitMq url="rabbitmq://192.168.1.220" userName="evgeny" password="Test123" />
    <security secret="jlkjw^Jkdsl20#%d).s2lfkJ" />
  </service>
  
  <!-- Access point service-->
  <dataConfig recreateDatabaseSchema="false" />
    
  <!-- LDAP service-->
  <ldap>
    <directories>
      <add domain="evriqum" url="LDAP://192.168.1.210" userName="evriqum\ldapservice" password="Test123" />
    </directories>
  </ldap>
  
  <!-- Database -->
  <connectionStrings>
    <clear />
    <add name="AccessControlSystem" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AccessControlSystem;Integrated Security=True" />
  </connectionStrings>

  <notification>
    <smtp host="smtp.gmail.com" port="587" useSsl="true" user="test30259@gmail.com" password="test30259test30259" senderName="Access Control System" fromAddress="test30259@gmail.com" />
    <twilio accountSid="AC60671f39f9c1edd419022c8f0f9efe9e" authToken="f62e1374032b4b2838d07f085b678d15" fromNumber="+13095884640" />
    <report hours="23" minutes="00" />
  </notification>
  
  <appSettings>
    <!-- Client service-->
    <add key="LDAPUserName" value="evriqum\client1" />
    <add key="LDAPPassword" value="Test123" />
  
    <!-- Test credentials
      Before run functional tests ensure that here are valid credentials specified; otherwise, tests won't be authorized to call services.
    -->
    <add key="Domain" value="evriqum" />
    <add key="TestManagerUserName" value="bill.gates" />
    <add key="TestManagerPassword" value="Test123" />
    <add key="TestClientServiceUserName" value="client1" />
    <add key="TestClientServicePassword" value="Test123" />
    <add key="ManagedUserName" value="sergey.brin" />
    <add key="ManagedUserPassword" value="Test123" />
    <add key="ManagedUserGroup" value="Top Managers" />
  </appSettings>

  <!-- Server configuration for WCF service-->
  <system.serviceModel>
    <services>
      <service name="AccessControl.Client.Vendor.AccessCheckService" behaviorConfiguration="DefaultBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9981/AccessCheckService" />
          </baseAddresses>
        </host>
        <endpoint binding="wsHttpBinding" contract="Vendor.API.IAccessCheckService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <!-- Client configuration for WCF service -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAccessCheckService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9981/AccessCheckService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAccessCheckService" contract="AccessCheckServiceProxy.IAccessCheckService" name="WSHttpBinding_IAccessCheckService">
        <identity>
          <userPrincipalName value="YOGA\Evgeny" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
      
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.150.0" newVersion="3.2.150.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MassTransit" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>